
/* site variables*/

#primary.button{
    background-color: #78BEFF !important;    
}
#primary.button.basic{
       stroke: solid;
       color:#78BEFF !important;
       background-color: transparent  !important;
       box-shadow: 0 0 0 1px #78BEFF inset !important;
       border-color: #eeeeee !important;
}

/* Custom CSS */
#home{
    overflow: hidden;
    position: relative;
    height: 38.4375em;
    z-index: 2;
    background: radial-gradient(1088.88px at 67.43% 75.47%, rgba(234, 246, 252, 0) 0%, #EBF5FA 100%);
}
.group{
    float: right;
    margin-top: 15px;
}
nav{
    transition-duration: 0.5s;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color transparent;
    z-index: 5;
}
nav li{
    display: inline;
}
nav a{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.75em;
    color: #333333 !important;
}
.sticky{
    background-color: white;
    position: fixed;
    z-index: 200;
    top: 0;
    padding: 0;
    width: 100vw;
    transition-duration: 0.5s;
}
.home{
    margin-right: 2.25em !important;
}
.resume{
    margin-right: 1.025em !important;
    margin-left: 2.425em !important;
}
.content{
    margin: 16px;
}
.section{
    height: 100vh;
}
#me{
    position: absolute;
    width: 25.875em;
    height: 35.5625em; 
    z-index: 2;
    bottom: -6.7625em;
    right: 12.0625em;
    }
#about{
    position: absolute;
    left: 11.5em;
    bottom: 9.6875em;
    width: 33.4375em;
    height: 7.125em;
    z-index: 3;
}
#aboutmeheader{
    font-family: Noto Sans;
    position: relative;
    margin: 0;
    top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    color: #333333;
    align-self: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.75em;
}
#aboutmedesc{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #888888;
}
#aboutsection{
    position: relative;
    background: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 6.9375em;
    height: 161.875em;
    z-index: 2;

}

#aboutsection #about{
    position: absolute;
    top: 5em;
    left: 11.5625em;
    width: 23em;
    height: 14.9375em;
}
#aboutsection #aboutmeheader{
    font-family: Noto Sans;
    position: relative;
    margin: 0;
    top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    color: #333333;
    align-self: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.0em;
    line-height: 1.1875em;
}
#aboutsection #aboutmedesc{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: #888888;
    line-height: 1.5625em;
}
#aboutsection .bluedesc{
    color: #78BEFF !important;
    font-size: 1.125em;
    font-weight: bold !important;

}
.worklogos{
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 4em;
    right: 11.875em;
    float: right;
    width: 39.0625em;
    height: 17.1875em;
}
.worklogos .rows{
    padding-top: 0 !important;
}
.worklogos .column{
    display: flex !important;
    justify-content: center;
}
.fun{
    width: 23em !important;
    height: 7.8125em !important;
    top: 37.125em !important;
}
.funimage{
    position: absolute;
    right: 12.125em;
    top: 36.75em;
    width: 43em;
    height: 20em;
}

.people{
    position: absolute;
    width: 27.25em;
    height: 9.875em;
    top: 61.125em !important;
    left: 46.375em !important;
}
.people #aboutmeheader{
    width: 18.625em;
    height: 4.125em;
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.875em;
}
.people #aboutmedesc{
    width: 27.25em !important;
    height: 4.6875em !important;
    font-size: 0.9em !important;
    margin-top: -7em !important;
    text-align: left;
}