
/* site variables*/

#primary.button{
    background-color: #78BEFF !important;    
}
#primary.button.basic{
       stroke: solid;
       color:#78BEFF !important;
       background-color: transparent  !important;
       box-shadow: 0 0 0 1px #78BEFF inset !important;
       border-color: #eeeeee !important;
}

/* Custom CSS */
#home{
    overflow: hidden;
    position: relative;
    height: 50em;
    background: url('../images/work_background.svg');
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.group{
    float: right;
    margin-top: 15px;
}
#navbar .logo{
    left: 10vw;
}
nav{
    transition-duration: 0.5s;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color transparent;
    z-index: 20;
}
nav li{
    display: inline;
}
nav a{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.75em;
    color: #333333 !important;
}
#navbar{
    z-index: 20 !important;
}
#navbar .container{
    width: 85vw;
}
.sticky{
    background-color: white;
    position: fixed;
    z-index: 20 !important;
    top: 0;
    padding: 0;
    width: 100vw;
    transition-duration: 0.5s;
}
.home{
    margin-right: 2.25em !important;
}
.resume{
    margin-right: 1.025em !important;
    margin-left: 2.425em !important;
}
.content{
    margin: 16px;
}
.section{
    height: 100vh;
}
/* home section */
.main{
    text-align: center;
    font-family: Noto Sans;
    font-size: 1em;
    text-align: center;
    line-height: 1.3125rem;
    color: #222222;
    font-style: normal;
    position: absolute;
    top: 15.875rem;
    left: 50vw;
    margin-left: -26.375rem;
}
.main .header{
    width: 45.5rem;
    height: 2.875rem;
    font-weight: bold;
    font-size: 2.75em;
    margin: 0 auto;
}
.main .desc{
    font-weight: normal;
    line-height: 1.4375em;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    color: #aaaaaa;
    width: 52.75rem;
    height: 7.875rem;
    margin: 0 auto;
    margin-top: 2.375rem;
    margin-bottom: 6.9375rem;
}



/* Mouse Scroller */
.scroll-downs {
    position: absolute;
    top: 28.687rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #222222;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #222222;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/* WORK PART SLIDERS */
#work{
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.125rem;

    color: rgba(0, 0, 0, 0.7);
}
#work .section{
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#work .section:nth-child(odd){
    background: url('../images/odd.svg');
    background-repeat: no-repeat;
    background-size: cover;

}
#work .section:nth-child(even){
    background: url('../images/even.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
#work .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 61.75rem;
    height: 21.8125rem;
    max-width: 988px;
    max-height: 349px;
}
#work .description{
    width: 24.3125rem;
    height: 21.8125rem;
    max-width: 389px;
    max-height: 349px;
    display: flex;
    flex-direction: column;
    text-align: left;
 
}
#work .description .header{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.75rem;
    color: #222222;
    margin-bottom: 0.3125rem;
}
#work .description .sub-header{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 1.8125rem;
    font-size: 1.25rem;    
    color: #999999;
    margin-bottom: 1.625rem;
}
#work .description .desc{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 1.375rem;
    font-size: 0.875rem;
    color: rgba(17, 17, 17, 0.4);
    margin-bottom: 3rem;
}
#work .description button{
    border: 1px solid #78BEFF;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    width: 13.6875rem;
    height: 3.0625rem;
    max-width: 219px;
    max-height: 49px;
}
#work .description .odd-button{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3125rem;
    font-size: 0.875rem;
    text-align: center;
    color: #78BEFF;
}
#work .description .even-button{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3125rem;
    font-size: 0.875rem;
    text-align: center;
    background-color: #78BEFF;
    color: white;
}
#work image{
    position: absolute;
    left: 0;
}
#work img{
    width: 32.5rem;
    height: 21.625rem;
    max-height: 346px;
    max-width: 520px;
}
/* Contact Part */
#contact{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 35em;
    position: relative;
    background: url('../images/contact_dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#contact .contactheader{
    position: absolute;
    top: 14.8125rem;
    margin: 0 auto;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2.75rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 100vw;
}
#contact .contactdesc{
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5em; 
    width: 50vw;
    font-size: 1.5rem;
    line-height: 2.4375rem;
    color: #ffffff;
    opacity: 0.5;
}
#contact .contactemail a{
    color: #ffffff !important;

}
#contact .contactemail{
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    color: #ffffff !important;
    margin-top: 1.1875rem;
}
.contactemail img{
    width: 1.875rem;
    height: 1.375rem;
    margin-right: 0.5em;
    vertical-align: middle;
}
.grey{
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 2.4375rem;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: #AAAAAA;

}
.dribble-link a{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 2.4375rem;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: #78BEFF;
}
.line{
    width: 31.875rem;
    opacity: 0.3;
    border: 1px solid #ffffff;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 0 auto;
    position: absolute;
    top: 32.4375em;
    left: 50vw;
    margin-left: -15.9375rem;
}

/*Footer*/
#footer{
    width: 100vw;
    height: 18rem;
    text-align: center;
    position: relative;
    background: #78BEFF;
}
#footer .icons{
    position: absolute;
    top: 8.25rem;
    left: 50vw;
    min-width: 20.5rem;
    margin-left: -10.25rem;
    height: 1.375rem;
}
#footer .icons .icon{
    width: 1.375rem;
    height: 1.375rem;
    color: #fffff;
}
#footer .icons .right{
    margin-left: 3.1875rem;
    margin-right: 3.1875rem;
}
#dribble{
    position: absolute;
    left: 0;
}
#behance{
    position: absolute;
    right: 0;
}